@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Cairo', sans-serif !important;
}
html {
    font-size: 14px;
    font-family: 'Cairo', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Cairo', sans-serif !important;
}

/*override Theme*/
.form-floating > .form-select {
    padding-bottom: 0rem;
}
.tox-statusbar__text-container {
    display: none !important;
}
.tox,.tox-tinymce {
    margin-top: 12px !important
}

/*Begin Custom Style*/

.dt-spinner + div
{
    display : none !important;
}
.h-90px {
    height: 90px !important
}
.h-70px
{
    height : 70px !important
}
/*End Custom Style*/
.custom-swal-popup {
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.custom-swal-title {
    color: #2c3e50;
    font-weight: bold;
}
.swal2-container.swal2-center > .swal2-popup {
    width: 700px !important;
    max-width: 90% !important;
    padding: 2rem !important;
}

.swal2-container .swal2-html-container {
    max-height: 300px !important;
    overflow-y: clip !important;
    margin: 1rem 0 !important;
    padding: 0 1.5rem !important;
    font-size: 1.1rem !important;
    line-height: 1.6 !important;
}

    .swal2-container .swal2-html-container::-webkit-scrollbar {
        width: 8px;
    }

    .swal2-container .swal2-html-container::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
        border-radius: 4px;
    }