@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Cairo', sans-serif !important;
}
html {
    font-size: 14px;
    font-family: 'Cairo', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Cairo', sans-serif !important;
}

/*override Theme*/
.form-floating > .form-select {
    padding-bottom: 0rem;
}
.tox-statusbar__text-container {
    display: none !important;
}
.tox,.tox-tinymce {
    margin-top: 12px !important
}

/*Begin Custom Style*/

.dt-spinner + div
{
    display : none !important;
}
.h-90px {
    height: 90px !important
}
.h-70px
{
    height : 70px !important
}
/*End Custom Style*/